
.block {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 3px solid #fc5800;
}


.block > h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
}

.frames {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.frame {
    position: relative;
    margin: 30px 0;
}

.frame > img {
    width: 520px;
    height: 320px;
    border-radius: 15px;
}


.frame:hover {
    transform: scale(1.03);
    transition: .4s;
}

.frame:hover .frame_info {
    display: block;
}


.frame_info {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.frame_info h3 {
    color: #EEEEEE;
    margin-top: 120px;
}

.frame_info p {
    color: #EEEEEE;

}

p {
    text-align: center;
}