
.main_header {
    position:relative;
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/Almaty/almaty2.webp");
}

header {
    padding: 0 5%;
}

header.dop {
    position: fixed;
    width: 100%;
    background-color: #505050;
    z-index: 100;
}


nav {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    font-size: 20px;
}



.logo > a {
    font-size: 26px;
    cursor: pointer;
    color: #fc5800;
	font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.logo:hover a {
    text-decoration: underline;
}


.nav_link {
    margin: 0 10px;
    color: #EEEEEE;
}

.nav_link:hover {
    color: #fc5800;
    border-bottom: 2px solid #fc5800;
}

.nav_links_1 :nth-child(3):hover {
    color: #000;
    border-bottom: 2px solid #000;
}


.main_text {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.main_text h1 {
    font-size: 32px;
    color: #393E46;
}

.main_text p {
    font-size: 20px;
    color: #EEEEEE;
    line-height: 1.5;
}


.more_btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #10d659;
    border-radius: 5px;
}

.more_btn:hover {
    background-color: #fc5800;
}