.cards.news {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding-top: 30px;
    flex-wrap: wrap;
}

.card.news {
    position: relative;
    width: 100%;
    color: #fff;
    padding: 60px 80px;
    padding-bottom: 36px;
    border-radius: 10px;
    background-color: #f2f0f0;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
}

.card.news.main {
    margin: 0 auto;
    margin: 40px auto;
    padding-top: 80px;
}

.container.news1 h2 {
    margin-top: 60px;
}

.card.news .card_up {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}

.date.news {
    position: absolute;
    color: #fc5800;
    top: 30px;
    right: 40px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}


.title.news {
    padding: 16px;
    text-align: center;
    color: #fc5800;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 2px solid #fc5800;
}


.card.news img {
    object-fit: cover !important;
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    border-radius: 10px;
}


.news_blocks {
    margin: 40px 0;
}


/* .card_images {
    display: flex;
    flex-wrap: wrap;
}

.card_images img {
    width: 60%;
    margin-bottom: 20px;
}

.card_img {
    width: 60%;
} */